.jumbotron{
    height: 800px;
    background: url('http://ucpa.ucsd.edu/images/work/_standard/geisel-wss-2.jpg') no-repeat center;
    background-size: cover;
}

.go-down{
    height: 80px;
    width: 110px;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 5%;
    background-color: white;
    text-align: center;
}

.navbar{
    border: 0px;
    background-color: black;
    position: absolute;
    top: 100%;
    left: 5%;
    width: 110px;
    z-index: 999;
}

.fixed .navbar{
    position: fixed;
    top: 60px;
}

.navbar .navbar-collapse{
    padding: 0px;
    max-height: none;
}

.navbar .nav > li{
    display: block;
    float: none;
    height: 80px;
}

.navbar .nav > li a{
    display: block;
    height: 80px;
    width: 110px;
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
    color: lightblue;
}


@keyframes moving{
    0%{
        padding-top: 15px;
    }
    50%{
        padding-top: 30px;
    }
    100%{
        padding-top: 15px;
    }
}

.jumbotron .go-down .glyphicon{
    color: lightblue;
    font-size: 40px;
    padding-top: 15px;
    padding-left: 3px;
    animation-name: moving;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

.jumbotron .container{
    text-align: center;
}

.container{
    padding: 40px 180px;
    max-width: 1280px;
}

h1.header{
    color: white;
}

p.header{
    color: white;
}

h2{
    text-align: center;
    color: darkorange;
}

h2.contact{
    color: white;
}

h2.experience{
    color: saddlebrown;
}

h3{
    color: gold;
}

p.lead{
    text-align: center;
    color: rebeccapurple;
}

p.self-intro, p.detail{
    font-size: 20px;
}

.background-white{
    background: white;
}

.background-gray{
    background: gray;
}

.background-lightblue{
    background: lightblue;
}

ul.customed-ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#contact a{
    display: block;
    line-height: 32px;
    margin-bottom: 20px;
    opacity: 0.6;
    color: white;
}

#contact a .icon{
    float: left;
    margin-right: 10px;
}

li.phone{
    color: white;
}

.resume{
    height: 800px;;
    width: 100%;
}

h3.experience{
    color: darkslategray;
}